<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./font-awesome.min.css">
        <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> -->
		<link rel="stylesheet" href="./simplemde.min.css">
		<script src="./simplemde.min.js"></script>
		
    </head>
    <body>
    	<textarea id="editor"></textarea>
    	<script>
			var simplemde = new SimpleMDE({
			    element: document.getElementById("editor"),
			    spellChecker: false,
			    status: true,
			    status: ['autosave', 'lines', 'words', 'cursor'], // Optional usage
			    // toolbar: true,
			    // autofocus: true,
			    // lineWrapping: true,
			    // indentWithTabs: true,
			    // tabSize: 4,
			    // autosave: {
			    //     enabled: true,
			    //     unique_id: "MyUniqueID",
			    //     delay: 1000,
			    // },
			});
			//var simplemde = new SimpleMDE();
			simplemde.render();
		</script>
    </body>
</html>