/*
 * from http://pygments.org/ style=default
 */
/* line 5, ../codehilite.scss */
.codehilite .hll {
  background-color: #ffffcc;
}

/* line 6, ../codehilite.scss */
.codehilite {
  background: #f8f8f8;
}

/* line 7, ../codehilite.scss */
.codehilite .c {
  color: #408080;
  font-style: italic;
}

/* Comment */
/* line 8, ../codehilite.scss */
.codehilite .err {
  border: 1px solid #FF0000;
}

/* Error */
/* line 9, ../codehilite.scss */
.codehilite .k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
/* line 10, ../codehilite.scss */
.codehilite .o {
  color: #666666;
}

/* Operator */
/* line 11, ../codehilite.scss */
.codehilite .cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
/* line 12, ../codehilite.scss */
.codehilite .cp {
  color: #BC7A00;
}

/* Comment.Preproc */
/* line 13, ../codehilite.scss */
.codehilite .c1 {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
/* line 14, ../codehilite.scss */
.codehilite .cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Special */
/* line 15, ../codehilite.scss */
.codehilite .gd {
  color: #A00000;
}

/* Generic.Deleted */
/* line 16, ../codehilite.scss */
.codehilite .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 17, ../codehilite.scss */
.codehilite .gr {
  color: #FF0000;
}

/* Generic.Error */
/* line 18, ../codehilite.scss */
.codehilite .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 19, ../codehilite.scss */
.codehilite .gi {
  color: #00A000;
}

/* Generic.Inserted */
/* line 20, ../codehilite.scss */
.codehilite .go {
  color: #808080;
}

/* Generic.Output */
/* line 21, ../codehilite.scss */
.codehilite .gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 22, ../codehilite.scss */
.codehilite .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 23, ../codehilite.scss */
.codehilite .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 24, ../codehilite.scss */
.codehilite .gt {
  color: #0040D0;
}

/* Generic.Traceback */
/* line 25, ../codehilite.scss */
.codehilite .kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 26, ../codehilite.scss */
.codehilite .kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 27, ../codehilite.scss */
.codehilite .kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 28, ../codehilite.scss */
.codehilite .kp {
  color: #008000;
}

/* Keyword.Pseudo */
/* line 29, ../codehilite.scss */
.codehilite .kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 30, ../codehilite.scss */
.codehilite .kt {
  color: #B00040;
}

/* Keyword.Type */
/* line 31, ../codehilite.scss */
.codehilite .m {
  color: #666666;
}

/* Literal.Number */
/* line 32, ../codehilite.scss */
.codehilite .s {
  color: #BA2121;
}

/* Literal.String */
/* line 33, ../codehilite.scss */
.codehilite .na {
  color: #7D9029;
}

/* Name.Attribute */
/* line 34, ../codehilite.scss */
.codehilite .nb {
  color: #008000;
}

/* Name.Builtin */
/* line 35, ../codehilite.scss */
.codehilite .nc {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Class */
/* line 36, ../codehilite.scss */
.codehilite .no {
  color: #880000;
}

/* Name.Constant */
/* line 37, ../codehilite.scss */
.codehilite .nd {
  color: #AA22FF;
}

/* Name.Decorator */
/* line 38, ../codehilite.scss */
.codehilite .ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
/* line 39, ../codehilite.scss */
.codehilite .ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
/* line 40, ../codehilite.scss */
.codehilite .nf {
  color: #0000FF;
}

/* Name.Function */
/* line 41, ../codehilite.scss */
.codehilite .nl {
  color: #A0A000;
}

/* Name.Label */
/* line 42, ../codehilite.scss */
.codehilite .nn {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Namespace */
/* line 43, ../codehilite.scss */
.codehilite .nt {
  color: #008000;
  font-weight: bold;
}

/* Name.Tag */
/* line 44, ../codehilite.scss */
.codehilite .nv {
  color: #19177C;
}

/* Name.Variable */
/* line 45, ../codehilite.scss */
.codehilite .ow {
  color: #AA22FF;
  font-weight: bold;
}

/* Operator.Word */
/* line 46, ../codehilite.scss */
.codehilite .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 47, ../codehilite.scss */
.codehilite .mf {
  color: #666666;
}

/* Literal.Number.Float */
/* line 48, ../codehilite.scss */
.codehilite .mh {
  color: #666666;
}

/* Literal.Number.Hex */
/* line 49, ../codehilite.scss */
.codehilite .mi {
  color: #666666;
}

/* Literal.Number.Integer */
/* line 50, ../codehilite.scss */
.codehilite .mo {
  color: #666666;
}

/* Literal.Number.Oct */
/* line 51, ../codehilite.scss */
.codehilite .sb {
  color: #BA2121;
}

/* Literal.String.Backtick */
/* line 52, ../codehilite.scss */
.codehilite .sc {
  color: #BA2121;
}

/* Literal.String.Char */
/* line 53, ../codehilite.scss */
.codehilite .sd {
  color: #BA2121;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 54, ../codehilite.scss */
.codehilite .s2 {
  color: #BA2121;
}

/* Literal.String.Double */
/* line 55, ../codehilite.scss */
.codehilite .se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
/* line 56, ../codehilite.scss */
.codehilite .sh {
  color: #BA2121;
}

/* Literal.String.Heredoc */
/* line 57, ../codehilite.scss */
.codehilite .si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
/* line 58, ../codehilite.scss */
.codehilite .sx {
  color: #008000;
}

/* Literal.String.Other */
/* line 59, ../codehilite.scss */
.codehilite .sr {
  color: #BB6688;
}

/* Literal.String.Regex */
/* line 60, ../codehilite.scss */
.codehilite .s1 {
  color: #BA2121;
}

/* Literal.String.Single */
/* line 61, ../codehilite.scss */
.codehilite .ss {
  color: #19177C;
}

/* Literal.String.Symbol */
/* line 62, ../codehilite.scss */
.codehilite .bp {
  color: #008000;
}

/* Name.Builtin.Pseudo */
/* line 63, ../codehilite.scss */
.codehilite .vc {
  color: #19177C;
}

/* Name.Variable.Class */
/* line 64, ../codehilite.scss */
.codehilite .vg {
  color: #19177C;
}

/* Name.Variable.Global */
/* line 65, ../codehilite.scss */
.codehilite .vi {
  color: #19177C;
}

/* Name.Variable.Instance */
/* line 66, ../codehilite.scss */
.codehilite .il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
