// color picker

@main: rgb(202, 110, 65);
@base: rgb(199, 101, 59);
@black: rgb(11, 9, 10);
@yellow: rgb(101, 52, 37);
@brown: rgb(242, 213, 128);
@grown: rgb(54, 34, 26);
@green: rgb(102, 185, 103);
@blue: rgb(78, 99, 160);
@dark-green: rgb(50, 98, 49);
@dark-blue: rgb(38, 55, 92);

@c1: #020202;
@c2: #0F0D0D;
@c3: #251C17;
@c4: #402F23;
@c5: #6E3622;
@c6: #D06339;
@c7: #9E4C2D;
@c8: #EF9A54;
@c9: #5D6E74;
@c10: #F1E798;
