@font-face {
  font-family: 'octicons';
  src: url("/static/octicons/octicons-d3d0b82bf791ac147d72bbf0287cdde8ee5c97b8.eot");
  src: url("/static/octicons/octicons-d3d0b82bf791ac147d72bbf0287cdde8ee5c97b8.eot#iefix") format("embedded-opentype"), url("/static/octicons/octicons-a60d585f754059c3c2ef731f853c38c157040b9c.woff") format("woff"), url("/static/octicons/octicons-8b97c2cd5068ec4620cbde3140db257b1924a192.ttf") format("truetype"), url("/static/octicons/octicons-a8248bbb3baccca60948d81d69e3406b71956a69.svg#octicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../../base/octicons.scss */
.octicon {
  font: normal normal 16px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../../base/octicons.scss */
.mega-octicon {
  font: normal normal 32px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../../base/octicons.scss */
.octicon-alert:before {
  content: '\f02d';
}

/* line 1, ../../base/octicons.scss */
.octicon-alignment-align:before {
  content: '\f08a';
}

/* line 1, ../../base/octicons.scss */
.octicon-alignment-aligned-to:before {
  content: '\f08e';
}

/* line 1, ../../base/octicons.scss */
.octicon-alignment-unalign:before {
  content: '\f08b';
}

/* line 1, ../../base/octicons.scss */
.octicon-arrow-down:before {
  content: '\f03f';
}

/* line 1, ../../base/octicons.scss */
.octicon-arrow-left:before {
  content: '\f040';
}

/* line 1, ../../base/octicons.scss */
.octicon-arrow-right:before {
  content: '\f03e';
}

/* line 1, ../../base/octicons.scss */
.octicon-arrow-small-down:before {
  content: '\f0a0';
}

/* line 1, ../../base/octicons.scss */
.octicon-arrow-small-left:before {
  content: '\f0a1';
}

/* line 1, ../../base/octicons.scss */
.octicon-arrow-small-right:before {
  content: '\f071';
}

/* line 1, ../../base/octicons.scss */
.octicon-arrow-small-up:before {
  content: '\f09f';
}

/* line 1, ../../base/octicons.scss */
.octicon-arrow-up:before {
  content: '\f03d';
}

/* line 1, ../../base/octicons.scss */
.octicon-beer:before {
  content: '\f069';
}

/* line 1, ../../base/octicons.scss */
.octicon-book:before {
  content: '\f007';
}

/* line 1, ../../base/octicons.scss */
.octicon-bookmark:before {
  content: '\f07b';
}

/* line 1, ../../base/octicons.scss */
.octicon-broadcast:before {
  content: '\f048';
}

/* line 1, ../../base/octicons.scss */
.octicon-bug:before {
  content: '\f091';
}

/* line 1, ../../base/octicons.scss */
.octicon-calendar:before {
  content: '\f068';
}

/* line 1, ../../base/octicons.scss */
.octicon-check:before {
  content: '\f03a';
}

/* line 1, ../../base/octicons.scss */
.octicon-checklist:before {
  content: '\f076';
}

/* line 1, ../../base/octicons.scss */
.octicon-chevron-down:before {
  content: '\f0a3';
}

/* line 1, ../../base/octicons.scss */
.octicon-chevron-left:before {
  content: '\f0a4';
}

/* line 1, ../../base/octicons.scss */
.octicon-chevron-right:before {
  content: '\f078';
}

/* line 1, ../../base/octicons.scss */
.octicon-chevron-up:before {
  content: '\f0a2';
}

/* line 1, ../../base/octicons.scss */
.octicon-circle-slash:before {
  content: '\f084';
}

/* line 1, ../../base/octicons.scss */
.octicon-clippy:before {
  content: '\f035';
}

/* line 1, ../../base/octicons.scss */
.octicon-clock:before {
  content: '\f046';
}

/* line 1, ../../base/octicons.scss */
.octicon-cloud-download:before {
  content: '\f00b';
}

/* line 1, ../../base/octicons.scss */
.octicon-cloud-upload:before {
  content: '\f00c';
}

/* line 1, ../../base/octicons.scss */
.octicon-code:before {
  content: '\f05f';
}

/* line 1, ../../base/octicons.scss */
.octicon-color-mode:before {
  content: '\f065';
}

/* line 1, ../../base/octicons.scss */
.octicon-comment:before {
  content: '\f02b';
}

/* line 1, ../../base/octicons.scss */
.octicon-comment-add:before {
  content: '\f06f';
}

/* line 1, ../../base/octicons.scss */
.octicon-comment-discussion:before {
  content: '\f04f';
}

/* line 1, ../../base/octicons.scss */
.octicon-credit-card:before {
  content: '\f045';
}

/* line 1, ../../base/octicons.scss */
.octicon-dashboard:before {
  content: '\f07d';
}

/* line 1, ../../base/octicons.scss */
.octicon-database:before {
  content: '\f096';
}

/* line 1, ../../base/octicons.scss */
.octicon-device-camera:before {
  content: '\f056';
}

/* line 1, ../../base/octicons.scss */
.octicon-device-camera-video:before {
  content: '\f057';
}

/* line 1, ../../base/octicons.scss */
.octicon-device-desktop:before {
  content: '\f27c';
}

/* line 1, ../../base/octicons.scss */
.octicon-device-mobile:before {
  content: '\f038';
}

/* line 1, ../../base/octicons.scss */
.octicon-diff:before {
  content: '\f04d';
}

/* line 1, ../../base/octicons.scss */
.octicon-diff-added:before {
  content: '\f06b';
}

/* line 1, ../../base/octicons.scss */
.octicon-diff-ignored:before {
  content: '\f099';
}

/* line 1, ../../base/octicons.scss */
.octicon-diff-modified:before {
  content: '\f06d';
}

/* line 1, ../../base/octicons.scss */
.octicon-diff-removed:before {
  content: '\f06c';
}

/* line 1, ../../base/octicons.scss */
.octicon-diff-renamed:before {
  content: '\f06e';
}

/* line 1, ../../base/octicons.scss */
.octicon-ellipsis:before {
  content: '\f09a';
}

/* line 1, ../../base/octicons.scss */
.octicon-eye:before {
  content: '\f04e';
}

/* line 1, ../../base/octicons.scss */
.octicon-eye-unwatch:before {
  content: '\f01e';
}

/* line 1, ../../base/octicons.scss */
.octicon-eye-watch:before {
  content: '\f01d';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-add:before {
  content: '\f086';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-binary:before {
  content: '\f094';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-code:before {
  content: '\f010';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-directory:before {
  content: '\f016';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-directory-create:before {
  content: '\f095';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-media:before {
  content: '\f012';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-pdf:before {
  content: '\f014';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-submodule:before {
  content: '\f017';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-symlink-directory:before {
  content: '\f0b1';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-symlink-file:before {
  content: '\f0b0';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-text:before {
  content: '\f011';
}

/* line 1, ../../base/octicons.scss */
.octicon-file-zip:before {
  content: '\f013';
}

/* line 1, ../../base/octicons.scss */
.octicon-gear:before {
  content: '\f02f';
}

/* line 1, ../../base/octicons.scss */
.octicon-gift:before {
  content: '\f042';
}

/* line 1, ../../base/octicons.scss */
.octicon-gist:before {
  content: '\f00e';
}

/* line 1, ../../base/octicons.scss */
.octicon-gist-fork:before {
  content: '\f079';
}

/* line 1, ../../base/octicons.scss */
.octicon-gist-new:before {
  content: '\f07a';
}

/* line 1, ../../base/octicons.scss */
.octicon-gist-private:before {
  content: '\f00f';
}

/* line 1, ../../base/octicons.scss */
.octicon-gist-secret:before {
  content: '\f08c';
}

/* line 1, ../../base/octicons.scss */
.octicon-git-branch:before {
  content: '\f020';
}

/* line 1, ../../base/octicons.scss */
.octicon-git-branch-create:before {
  content: '\f098';
}

/* line 1, ../../base/octicons.scss */
.octicon-git-branch-delete:before {
  content: '\f09b';
}

/* line 1, ../../base/octicons.scss */
.octicon-git-commit:before {
  content: '\f01f';
}

/* line 1, ../../base/octicons.scss */
.octicon-git-compare:before {
  content: '\f0ac';
}

/* line 1, ../../base/octicons.scss */
.octicon-git-fork-private:before {
  content: '\f021';
}

/* line 1, ../../base/octicons.scss */
.octicon-git-merge:before {
  content: '\f023';
}

/* line 1, ../../base/octicons.scss */
.octicon-git-pull-request:before {
  content: '\f009';
}

/* line 1, ../../base/octicons.scss */
.octicon-git-pull-request-abandoned:before {
  content: '\f090';
}

/* line 1, ../../base/octicons.scss */
.octicon-globe:before {
  content: '\f0b6';
}

/* line 1, ../../base/octicons.scss */
.octicon-graph:before {
  content: '\f043';
}

/* line 1, ../../base/octicons.scss */
.octicon-history:before {
  content: '\f07e';
}

/* line 1, ../../base/octicons.scss */
.octicon-home:before {
  content: '\f08d';
}

/* line 1, ../../base/octicons.scss */
.octicon-horizontal-rule:before {
  content: '\f070';
}

/* line 1, ../../base/octicons.scss */
.octicon-hourglass:before {
  content: '\f09e';
}

/* line 1, ../../base/octicons.scss */
.octicon-hubot:before {
  content: '\f09d';
}

/* line 1, ../../base/octicons.scss */
.octicon-info:before {
  content: '\f059';
}

/* line 1, ../../base/octicons.scss */
.octicon-issue-closed:before {
  content: '\f028';
}

/* line 1, ../../base/octicons.scss */
.octicon-issue-opened:before {
  content: '\f026';
}

/* line 1, ../../base/octicons.scss */
.octicon-issue-reopened:before {
  content: '\f027';
}

/* line 1, ../../base/octicons.scss */
.octicon-jersey:before {
  content: '\f019';
}

/* line 1, ../../base/octicons.scss */
.octicon-jump-down:before {
  content: '\f072';
}

/* line 1, ../../base/octicons.scss */
.octicon-jump-left:before {
  content: '\f0a5';
}

/* line 1, ../../base/octicons.scss */
.octicon-jump-right:before {
  content: '\f0a6';
}

/* line 1, ../../base/octicons.scss */
.octicon-jump-up:before {
  content: '\f073';
}

/* line 1, ../../base/octicons.scss */
.octicon-key:before {
  content: '\f049';
}

/* line 1, ../../base/octicons.scss */
.octicon-keyboard:before {
  content: '\f00d';
}

/* line 1, ../../base/octicons.scss */
.octicon-light-bulb:before {
  content: '\f000';
}

/* line 1, ../../base/octicons.scss */
.octicon-link:before {
  content: '\f05c';
}

/* line 1, ../../base/octicons.scss */
.octicon-link-external:before {
  content: '\f07f';
}

/* line 1, ../../base/octicons.scss */
.octicon-list-ordered:before {
  content: '\f062';
}

/* line 1, ../../base/octicons.scss */
.octicon-list-unordered:before {
  content: '\f061';
}

/* line 1, ../../base/octicons.scss */
.octicon-location:before {
  content: '\f060';
}

/* line 1, ../../base/octicons.scss */
.octicon-lock:before {
  content: '\f06a';
}

/* line 1, ../../base/octicons.scss */
.octicon-log-in:before {
  content: '\f036';
}

/* line 1, ../../base/octicons.scss */
.octicon-log-out:before {
  content: '\f032';
}

/* line 1, ../../base/octicons.scss */
.octicon-logo-github:before {
  content: '\f092';
}

/* line 1, ../../base/octicons.scss */
.octicon-mail:before {
  content: '\f03b';
}

/* line 1, ../../base/octicons.scss */
.octicon-mail-read:before {
  content: '\f03c';
}

/* line 1, ../../base/octicons.scss */
.octicon-mail-reply:before {
  content: '\f051';
}

/* line 1, ../../base/octicons.scss */
.octicon-mark-github:before {
  content: '\f00a';
}

/* line 1, ../../base/octicons.scss */
.octicon-mark-twitter:before {
  content: '\f0ae';
}

/* line 1, ../../base/octicons.scss */
.octicon-megaphone:before {
  content: '\f077';
}

/* line 1, ../../base/octicons.scss */
.octicon-microscope:before {
  content: '\f089';
}

/* line 1, ../../base/octicons.scss */
.octicon-milestone:before {
  content: '\f075';
}

/* line 1, ../../base/octicons.scss */
.octicon-mirror-private:before {
  content: '\f025';
}

/* line 1, ../../base/octicons.scss */
.octicon-mirror-public:before {
  content: '\f024';
}

/* line 1, ../../base/octicons.scss */
.octicon-move-down:before {
  content: '\f0a8';
}

/* line 1, ../../base/octicons.scss */
.octicon-move-left:before {
  content: '\f074';
}

/* line 1, ../../base/octicons.scss */
.octicon-move-right:before {
  content: '\f0a9';
}

/* line 1, ../../base/octicons.scss */
.octicon-move-up:before {
  content: '\f0a7';
}

/* line 1, ../../base/octicons.scss */
.octicon-mute:before {
  content: '\f080';
}

/* line 1, ../../base/octicons.scss */
.octicon-no-newline:before {
  content: '\f09c';
}

/* line 1, ../../base/octicons.scss */
.octicon-octoface:before {
  content: '\f008';
}

/* line 1, ../../base/octicons.scss */
.octicon-organization:before {
  content: '\f037';
}

/* line 1, ../../base/octicons.scss */
.octicon-pencil:before {
  content: '\f058';
}

/* line 1, ../../base/octicons.scss */
.octicon-person:before {
  content: '\f018';
}

/* line 1, ../../base/octicons.scss */
.octicon-person-add:before {
  content: '\f01a';
}

/* line 1, ../../base/octicons.scss */
.octicon-person-follow:before {
  content: '\f01c';
}

/* line 1, ../../base/octicons.scss */
.octicon-person-remove:before {
  content: '\f01b';
}

/* line 1, ../../base/octicons.scss */
.octicon-pin:before {
  content: '\f041';
}

/* line 1, ../../base/octicons.scss */
.octicon-plus:before {
  content: '\f05d';
}

/* line 1, ../../base/octicons.scss */
.octicon-podium:before {
  content: '\f0af';
}

/* line 1, ../../base/octicons.scss */
.octicon-primitive-dot:before {
  content: '\f052';
}

/* line 1, ../../base/octicons.scss */
.octicon-primitive-square:before {
  content: '\f053';
}

/* line 1, ../../base/octicons.scss */
.octicon-pulse:before {
  content: '\f085';
}

/* line 1, ../../base/octicons.scss */
.octicon-question:before {
  content: '\f02c';
}

/* line 1, ../../base/octicons.scss */
.octicon-quote:before {
  content: '\f063';
}

/* line 1, ../../base/octicons.scss */
.octicon-radio-tower:before {
  content: '\f030';
}

/* line 1, ../../base/octicons.scss */
.octicon-remove-close:before {
  content: '\f050';
}

/* line 1, ../../base/octicons.scss */
.octicon-repo:before {
  content: '\f001';
}

/* line 1, ../../base/octicons.scss */
.octicon-repo-clone:before {
  content: '\f04c';
}

/* line 1, ../../base/octicons.scss */
.octicon-repo-create:before {
  content: '\f003';
}

/* line 1, ../../base/octicons.scss */
.octicon-repo-delete:before {
  content: '\f004';
}

/* line 1, ../../base/octicons.scss */
.octicon-repo-force-push:before {
  content: '\f04a';
}

/* line 1, ../../base/octicons.scss */
.octicon-repo-forked:before {
  content: '\f002';
}

/* line 1, ../../base/octicons.scss */
.octicon-repo-pull:before {
  content: '\f006';
}

/* line 1, ../../base/octicons.scss */
.octicon-repo-push:before {
  content: '\f005';
}

/* line 1, ../../base/octicons.scss */
.octicon-repo-sync:before {
  content: '\f04b';
}

/* line 1, ../../base/octicons.scss */
.octicon-rocket:before {
  content: '\f033';
}

/* line 1, ../../base/octicons.scss */
.octicon-rss:before {
  content: '\f034';
}

/* line 1, ../../base/octicons.scss */
.octicon-ruby:before {
  content: '\f047';
}

/* line 1, ../../base/octicons.scss */
.octicon-screen-full:before {
  content: '\f066';
}

/* line 1, ../../base/octicons.scss */
.octicon-screen-normal:before {
  content: '\f067';
}

/* line 1, ../../base/octicons.scss */
.octicon-search:before {
  content: '\f02e';
}

/* line 1, ../../base/octicons.scss */
.octicon-server:before {
  content: '\f097';
}

/* line 1, ../../base/octicons.scss */
.octicon-settings:before {
  content: '\f07c';
}

/* line 1, ../../base/octicons.scss */
.octicon-squirrel:before {
  content: '\f0b2';
}

/* line 1, ../../base/octicons.scss */
.octicon-star:before {
  content: '\f02a';
}

/* line 1, ../../base/octicons.scss */
.octicon-star-add:before {
  content: '\f082';
}

/* line 1, ../../base/octicons.scss */
.octicon-star-delete:before {
  content: '\f083';
}

/* line 1, ../../base/octicons.scss */
.octicon-stop:before {
  content: '\f08f';
}

/* line 1, ../../base/octicons.scss */
.octicon-sync:before {
  content: '\f087';
}

/* line 1, ../../base/octicons.scss */
.octicon-tag:before {
  content: '\f015';
}

/* line 1, ../../base/octicons.scss */
.octicon-tag-add:before {
  content: '\f054';
}

/* line 1, ../../base/octicons.scss */
.octicon-tag-remove:before {
  content: '\f055';
}

/* line 1, ../../base/octicons.scss */
.octicon-telescope:before {
  content: '\f088';
}

/* line 1, ../../base/octicons.scss */
.octicon-three-bars:before {
  content: '\f05e';
}

/* line 1, ../../base/octicons.scss */
.octicon-tools:before {
  content: '\f031';
}

/* line 1, ../../base/octicons.scss */
.octicon-triangle-down:before {
  content: '\f05b';
}

/* line 1, ../../base/octicons.scss */
.octicon-triangle-left:before {
  content: '\f044';
}

/* line 1, ../../base/octicons.scss */
.octicon-triangle-right:before {
  content: '\f05a';
}

/* line 1, ../../base/octicons.scss */
.octicon-triangle-up:before {
  content: '\f0aa';
}

/* line 1, ../../base/octicons.scss */
.octicon-unfold:before {
  content: '\f039';
}

/* line 1, ../../base/octicons.scss */
.octicon-versions:before {
  content: '\f064';
}

/* line 1, ../../base/octicons.scss */
.octicon-x:before {
  content: '\f081';
}

/* line 1, ../../base/octicons.scss */
.octicon-zap:before {
  content: '\26A1';
}
